parameters:
    ignoreErrors:
        -
            message: '~^Undefined variable: \$phpCodeSnifferConfig$~'
            path: %currentWorkingDirectory%/Config.php

    dynamicConstantNames:
        - PHP_CODESNIFFER_IN_TESTS
        - PHP_CODESNIFFER_CBF
        - PHP_CODESNIFFER_VERBOSITY

services:
    -
        class: PHP_CodeSniffer\PHPStan\ConfigReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
